/* Webpage box-sizing border box, padding 0, and margin 0 */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Website background color #d9dcd6 */
body {
    background-color: #d9dcd6;
}

/* Header Format for Horiseon and navigation links have padding of 20px, fonts: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, background color #2a607c and text color #ffffff */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Horiseon Header Format display inline-block and font size be 48px */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* "seo" within "Horiseon" header title should be white color */
.header h1 .seo {
    color: #d9dcd6;
}

/*header navaigation links should have padding-top 15px, margin-right 20px, float right top side of page, fonts:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font size 20px */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* header links display inline-block and margin-left 25px */
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* links are white */
a {
    color: #ffffff;
    text-decoration: none;
}

/* paragraph font size is 16px */
p {
    font-size: 16px;
}

/* maximum height of images is 200px */
img {
    max-height: 200px;
}

/* Hero image is 800 px height, width of 100%, margin-bottom 25px, background image is stored here in css with url link, background size cover, bakcground position center */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* The images in Search Optimization section and Social Media Marketing section are left of text */
.float-left {
    float: left;
    margin-right: 25px;
}

/* The images in Online Reputational Management section are right of text */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Main informational content on page is width 75%, display inline-block, and margin-left 20px */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* The headers in the main informational content section have a margin-bottom 20px and font-size 36px */
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* The information under content section with content details has a margin-bottom 20px, padding 50px, height 300px, fonts of  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;, background-color #0072bb; color: #ffffff */
.content .contentdetails {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* The aside section content containing benefits information has a margin-right 20px, padding 20 px, clear both, float right, width 20%, height 100%, font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; background-color: #2589bd */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* The headings within the aside section content containing benefit are h3 size, margin-bottom 10px, and centered */
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* The content within the aside section under benefit details have a margin-bottom of 32px and color #ffffff */
.benefits .benefitdetail {
    margin-bottom: 32px;
    color: #ffffff;
}

/* The images within Aside Section Benefit display by block, have a margin of 10px auto, and max-width 150px */
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* The footer portion at bottom of page has a padding 30px, clear both, font-family : 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; and centered text */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* The heading of the footer is font-sized 20px */
.footer h2 {
    font-size: 20px;
}
